{% load static %}
<div class="container" id="info-container">
    <div class="col-12">
      <h2 class="title primary-color">Detalhes Importantes</h2>
      <p class="subtitle secondary-color">
        Saiba mais sobre a experiẽncia de nossa incrível equipe
      </p>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-5" id="info-banner">
          <img src="{% static 'img/infobanner.jpg' %}" alt="Informações da empresa" class="img-fluid">
        </div>
        <div class="col-12 col-md-7 bg-secondary-color" id="info-content">
          <div class="row">
            <div class="col-12">
              <h2 class="title primary-color">Estes dados fazem a diferença</h2>
              <p class="subtitle secondary-color">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Inventore suscipit dolore esse architecto impedit recusandae voluptates officiis ratione.
                Temporibus doloribus delectus tenetur dolores? Eos eligendi aspernatur, quod cum natus doloremque?
              </p>
            </div>
            <div class="col-12" id="info-numbers">
              <div class="row">
                <div class="col-4">
                  <h3 class="primary-color">18</h3>
                  <p class="secondary-color">Anos na construção civil</p>
                </div>
                <div class="col-4">
                  <h3 class="primary-color">95</h3>
                  <p class="secondary-color">Projetos executadosl</p>
                </div>
                <div class="col-4">
                  <h3 class="primary-color">239</h3>
                  <p class="secondary-color">Clientes</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <a href="#" class="btn btn-dark">Saiba Mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>