{% load static %}
<div class="container" id="featured-container">
    <div class="col-12">
      <h2 class="title primary-color">Trabalhos em destaque</h2>
      <p class="subtitle secondary-color">
        Conheça nossos projetos mais desafiadores
      </p>
    </div>
    <div class="col-12" id="featured-images">
      <div class="row g-4">
        <div class="col-12 col-md-4">
          <img src="{% static 'img/project1.jpg' %}" alt="Projeto 1" class="img-fluid" />
          <div class="banner-content">
            <p class="secondary-color">Categoria</p>
            <h3>Casa de Madeira</h3>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <img src="{% static 'img/project2.jpg' %}" alt="Projeto 2" class="img-fluid" />
          <div class="banner-content">
            <p class="secondary-color">Categoria</p>
            <h3>Cozinha Moderna</h3>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <img src="{% static 'img/project3.jpg' %}" alt="Projeto 3" class="img-fluid" />
          <div class="banner-content">
            <p class="secondary-color">Categoria</p>
            <h3>Piscina com hidro</h3>
         </div>
        </div>

        <div class="col-12 col-md-4">
          <img src="{% static 'img/project4.jpg' %}" alt="Projeto 4" class="img-fluid" />
          <div class="banner-content">
            <p class="secondary-color">Categoria</p>
            <h3>Escadarias</h3>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <img src="{% static 'img/project5.jpg' %}" alt="Projeto 5" class="img-fluid" />
          <div class="banner-content">
            <p class="secondary-color">Categoria</p>
            <h3>Fachadas</h3>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <img src="{% static 'img/project6.jpg' %}" alt="Projeto 6" class="img-fluid" />
          <div class="banner-content">
            <p class="secondary-color">Categoria</p>
            <h3>Futurismo</h3>
          </div>
        </div>
      </div>
    </div>
</div>